<mk-box header="ANNOUNCEMENT" [isCollapsable]="false" [isRemovable]="false">

  <span style="font-size: 10pt; font-family: 'arial','sans-serif'; color: #006699">
    <p style="text-align: center; margin-left: 0px">
      <span style="font-size: 16pt; color: #1f497d; line-height: 115%">
        <font face="Calibri"><span style="font-size: 16pt; color: #1f497d; line-height: 115%">

            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><b><span style="font-size: 12pt; color: #002060">&nbsp;&nbsp; CART is now OPEN for
                      Processing</span></b></font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><b><span style="font-size: 12pt; color: black">&nbsp;&nbsp;&nbsp; Control Owners
                      &amp; Approvers
                    </span></b></font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><b><span style="color: black"><span style="font-size: 12pt">CART will be open from
                        Thurs May 18</span><sup><span style="font-size: 12pt">th</span></sup><span
                        style="font-size: 12pt">, 2017 through Fri June 2</span><sup><span
                          style="font-size: 12pt">nd</span></sup></span><span style="font-size: 12pt; color: #1f497d">,
                    </span><span style="font-size: 12pt; color: black">2017</span></b></font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span style="color: black">
                  <font size="3">
                    <font face="Calibri"><span style="font-size: 12pt">Global Approvers - CART will be open from Thurs
                        May
                        18</span><sup><span style="font-size: 12pt">th</span></sup><span style="font-size: 12pt">, 2017
                        through Thurs May 25</span><sup><span style="font-size: 12pt">th</span></sup><span
                        style="font-size: 12pt">, 2017</span></font>
                  </font>
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span style="color: black">
                  <font size="3">
                    <font face="Calibri">
                      <p></p>
                    </font>
                  </font>
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <span style="color: #002060">
                <p></p>
              </span>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 10pt 0px; line-height: 115%">
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 10pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><span style="color: #1f497d">Please be advised that CART will work on the following
                    <u>supported</u> browsers and releases:</span><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span
                  style="font-size: 12pt; font-family: 'times new roman','serif' calibri; background: white; color: #0066ff; line-height: 115%">FOR
                  WINDOWS PC Users: IE 11 – Firefox 45 – Chrome 50
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span
                  style="font-size: 12pt; font-family: calibri; background: white; color: #0066ff; line-height: 115%">MAC
                  Users: Safari 10– Firefox 52 – Chrome 57
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span
                  style="font-size: 14pt; font-family: calibri; background: white; color: #0066ff; line-height: 115%">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <b><span
                  style="font-size: 14pt; font-family: calibri; background: white; color: #0066ff; line-height: 115%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></b>
              <font size="3">
                <font face="Calibri"><span style="background: white; color: red"><b><span
                        style='font-size: 14pt; text-decoration: underline; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>Reminders</span></b><b><span
                        style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>:</span></b></span>
                </font>
              </font>
              <font size="3">
                <font face="Calibri"><span style="background: white; color: red"><b><span
                        style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>&nbsp;&nbsp;&nbsp;</span></b></span>
                </font>
              </font>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
              <font size="3">
                <font face="Calibri"><span style="background: white; color: red"><b><span
                        style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>&nbsp;</span></b></span>
                </font>
              </font><b><span
                  style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>Policy
                  states that you are not allowed to recertify your own
                  accounts</span></b><span
                style='font-family: "times new roman","serif"; mso-fareast-font-family: "times new roman"'>
                <p></p>
              </span>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <b><span
                  style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>&nbsp;Paramount
                  Applications will not be recertified in CART
                  this cycle</span></b><span
                style='font-family: "times new roman","serif"; mso-fareast-font-family: "times new roman"'>
                <p></p>
              </span>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <b><span
                  style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>A
                  separate email will be mailed to Online Database account
                  approvers with further instructions</span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <b><span
                  style='font-size: 14pt; background: white; color: red; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>&nbsp;&nbsp;
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%"></p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <b><span
                  style='font-size: 14pt; text-decoration: underline; background: white; color: #000000; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>Instructions:</span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <b><span
                  style='font-size: 14pt; text-decoration: ; background: white; color: #000000; mso-bidi-font-family: calibri; mso-fareast-font-family: "times new roman"; mso-ascii-font-family: calibri; mso-hansi-font-family: calibri'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></b>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%"></p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%"></p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%"></p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt; line-height: 115%">
              <span
                style='font-size: 12pt; font-family: "times new roman","serif"; line-height: 115%; mso-fareast-font-family: "times new roman"'>
                <p></p>
              </span>
            </p>
            <p class="MsoNormal" align="center" style="text-align: center; margin: 0in 0in 0pt 0px; line-height: 115%">
            </p>
            <p class="MsoListParagraph" style="margin: 0in 0in 12pt 40px; line-height: 115%; text-indent: -0.25in">
              <span
                style="font-size: 12pt; font-family: 'calibri','sans-serif'; color: black; line-height: 115%; mso-bidi-font-family: calibri">1.</span>
              <font face="Times New Roman"><span style="font-size: 12pt; color: black; line-height: 115%">
                </span>
                <font size="3"><b style="mso-bidi-font-weight: normal"><span
                      style="font-size: 12pt; color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt">To all
                      Control Owners and Approvers</span></b><b><span
                      style="font-size: 12pt; color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt">
                      -
                    </span></b><span style="color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt"><span
                      style="font-size: 12pt">If you do not find any of your applications listed in the </span><b
                      style="mso-bidi-font-weight: normal"><span style="font-size: 12pt">May 2017</span></b><span
                      style="font-size: 12pt">
                      report list there is nothing for you to do until the </span><b
                      style="mso-bidi-font-weight: normal"><span style="font-size: 12pt">August 2017</span></b><span
                      style="font-size: 12pt"> cycle.</span></span><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoListParagraph" style="margin: 12pt 0in 10pt 40px; line-height: 115%; text-indent: -0.25in">
              <span
                style="font-size: 12pt; font-family: 'calibri','sans-serif'; color: black; line-height: 115%; mso-bidi-font-family: calibri">2.</span>
              <font face="Times New Roman"><span style="font-size: 12pt; color: black; line-height: 115%">
                </span>
                <font size="3"><span style="color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt"><span
                      style="font-size: 12pt">If a security group should no longer have access to a
                      given server/share submit a ticket to TechConnect and
                      contact us for further instructions</span><b style="mso-bidi-font-weight: normal"><span
                        style="font-size: 12pt">. DO NOT mark the members of this Security Group in
                        CART as To-be-Removed.
                      </span></b><span style="font-size: 12pt">Once the Security Groups’ access has been removed so will
                      its members access.
                    </span></span><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoListParagraph" style="margin: 12pt 0in 12pt 40px; line-height: 115%; text-indent: -0.25in">
              <span
                style="font-size: 12pt; font-family: 'calibri','sans-serif'; color: black; line-height: 115%; mso-bidi-font-family: calibri">3.</span>
              <font face="Times New Roman"><span style="font-size: 12pt; color: black; line-height: 115%">
                </span>
                <font size="3"><span style="color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt"><span
                      style="font-size: 12pt">You do not have to recertify accounts with an account
                      status of </span><b style="mso-bidi-font-weight: normal"><u><span
                          style="font-size: 12pt">DISABLED</span></u></b><span style="font-size: 12pt">
                      in servers/shares.</span></span><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoListParagraph" style="margin: 12pt 0in 12pt 40px; line-height: 115%; text-indent: -0.25in">
              <span
                style="font-size: 12pt; font-family: 'calibri','sans-serif'; color: black; line-height: 115%; mso-bidi-font-family: calibri">4.</span>
              <font face="Times New Roman"><span style="font-size: 12pt; color: black; line-height: 115%">
                </span>
                <font size="3"><span style="color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt"><span
                      style="font-size: 12pt">Global Approvers should not be contacted for missing
                      Approvals until after </span><b style="mso-bidi-font-weight: normal"><span
                        style="font-size: 12pt">Thurs May 25</span></b></span><b
                    style="mso-bidi-font-weight: normal"><sup><span
                        style="font-size: 12pt; color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt; mso-themecolor: dark2">th</span></sup></b><b
                    style="mso-bidi-font-weight: normal"><span
                      style="font-size: 12pt; color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt">,</span></b><b
                    style="mso-bidi-font-weight: normal"><span
                      style="font-size: 12pt; color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt; mso-themecolor: dark2">
                    </span></b><b style="mso-bidi-font-weight: normal"><span
                      style="font-size: 12pt; color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt">2017.</span></b><span
                    style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoListParagraph" style="margin: 0in 0in 12pt 40px; line-height: 115%; text-indent: -0.25in">
              <span
                style="font-size: 12pt; font-family: 'calibri','sans-serif'; color: black; line-height: 115%; mso-bidi-font-family: calibri">5.</span>
              <font face="Times New Roman"><span style="font-size: 12pt; color: black; line-height: 115%">
                </span>
                <font size="3"><b style="mso-bidi-font-weight: normal"><span
                      style="font-size: 12pt; color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt">To all
                      Global Approvers</span></b><span
                    style="font-size: 12pt; color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt">
                    - </span><span
                    style="font-size: 12pt; color: #002060; line-height: 115%; mso-bidi-font-size: 11.0pt">Please review
                    the CART Security Table which can be accessed
                    by selecting the &quot;Security Group Mappings&quot; drop
                    down from the Mappings tab found on the top right side of
                    the HOME page. If access changes to Security Groups are
                    required please inform us immediately.</span><span
                    style="font-size: 12pt; color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt">
                  </span></font>
              </font>
              <font face="Times New Roman">
                <font size="3"><span style="color: #002060">
                    <p></p>
                  </span></font>
              </font>
            </p>
            <p class="MsoListParagraph" style="margin: 0in 0in 0pt 40px; line-height: 115%; text-indent: -0.25in">
              <span style="color: #1f497d; line-height: 115%; mso-bidi-font-size: 11.0pt">
                <font size="3" face="Times New Roman"><span style="font-size: 12pt">Please contact Nathaniel Ghavitian
                    (</span><span class="baec5a81-e4d6-4674-97f3-e9220f0136c1" style="font-size: 12pt">212
                    846-6023</span><span style="font-size: 12pt">) / Nathaniel </span></font><a
                  href="mailto:Ghavitian@viacom.com"><span
                    style="color: black; mso-style-textfill-fill-color: black; mso-style-textfill-fill-alpha: 100.0%">
                    <font size="3" face="Times New Roman"><span style="font-size: 12pt">Ghavitian@viacom.com</span>
                    </font>
                  </span></a>
                <font size="3" face="Times New Roman"><span style="font-size: 12pt">) or Mary Soras (</span><span
                    class="baec5a81-e4d6-4674-97f3-e9220f0136c1" style="font-size: 12pt">212 846-4946</span><span
                    style="font-size: 12pt"> / </span></font><a href="mailto:Mary.Soras@viacom.com"><span
                    style="color: black; mso-style-textfill-fill-color: black; mso-style-textfill-fill-alpha: 100.0%">
                    <font size="3" face="Times New Roman"><span style="font-size: 12pt">Mary.Soras@viacom.com</span>
                    </font>
                  </span></a>
                <font size="3" face="Times New Roman"><span style="font-size: 12pt">) with questions and
                    concerns.</span></font>
              </span>
            </p>
          </span></font>
        <font face="Calibri"><span
            style='font-size: 12pt; font-family: "times new roman","serif"; color: #002060; line-height: 115%'>
            <p class="MsoNormal" align="center"
              style="text-align: center; margin: 0in 0in 10pt 0.5in; line-height: 115%"></p>
          </span></font>
      </span></p>
  </span>
</mk-box>
